.play-container{
    width: 96%;
    margin: auto;
}
.play-capa-mobile{
    width: 30%;
    display: none;
    float: left;
}
.play-capa-mobile img{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.divisao-play-mobile{
    width: 100%;
    height: 1px;
    float: left;
    display: none;
    background-color: #ddd;
}
.play-info{
    width: 70%;
    float: left;
}
.play-info-titulo{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 5px;
    color: #fff;
}
.play-info-subinfo{
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: #697c87;
    margin-bottom: 10px;
}
.play-info-subinfo span{ 
    display: block;
    float: left;
    font-size: 17px;
    padding-right: 10px;
}
.play-info-subinfo-classificacao{
    width: 197px;
    height: 24px;
    line-height: 24px;
    margin-top: 3px;
    float: left;
    border-radius: 7px;
    border: solid 1px #5d6871;
    margin-right: 2px;
}
.play-info-subinfo-classificacao span{
    padding-left: 2px;
}
.play-info-play{
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    color: #fff;
}
.play-info-play a {
    text-decoration: none;
    color: #fff;
}
.play-info-play-reproduzir{
    width: 200px;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}
.play-info-play-reproduzir img{
    display: block;
    float: left;
    margin-top: 3px;
}
.play-info-play-reproduzir span{
    padding-left: 10px;
    font-size: 17px;
}
.play-info-play-trailer{
    width: 200px;
    height: 70px;
    line-height: 70px;
    border-radius: 7px;
    float: left;
    margin-right: 5px;
    text-align: center;
    background-color:#425165;
    
}
.play-info-play-trailer span{
    padding-left: 5px;
    font-size: 17px;
}
.play-info-play-addlist{
    width: 200px;
    height: 70px;
    line-height: 70px;
    float: left;
    border-radius: 7px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    background-color: #425165;
}
.play-info-resumo{
    width: 98%;
    float: left;
    margin-top: 10px;
    margin-left: 1%;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 15px;
}
.play-capa{
    width: 30%;
    height: 500px;
    float: left;
}
.play-capa img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#play{
    width: 100%;
    height: 900px;
    position: fixed;
    display: none;
    top: 0;
    background-color: #000;
}
.fecharPlay img{
    display: block;
    margin-top: 100px;
    margin-left: 150px;
    float: left;
    cursor: pointer;
}
#fecharVideo{
    width: 70%;
    height: 50%;
    float: left;
    margin-top: 70px;
    margin-left: 2%;
}
@media only screen and (max-width: 500px){
    .play-info{ 
        width: 100%;
        margin-top: 5px;
    }
    .play-info-titulo{
        margin-top: 0;
    }
    .play-capa{
        display: none;
    }
    .play-capa-mobile{
        display: block;
        width: 100%;
    }
    .divisao-play-mobile{
        display: block;
    }
    .play-info-play-trailer{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .play-info-play-trailer span{
        padding-left: 5px;
        font-size: 24px;
    }
    .play-info-play-addlist{
        width: 100%;
        font-size: 24px;
    }
    .play-info-resumo{
        font-size: 20px;
        margin-left: 2%;
    }
    .fecharPlay img{
        margin-top: 10px;
    }
    #fecharVideo{
        margin-top: 10px;
        width: 96%;
        height: 200px;
    }
}
/*
.fecharPlay img{
    display: block;
    margin-top: 70px;
    margin-left: 150px;
    float: left;
    cursor: pointer;
}
iframe{
    width: 70%;
    height: 85%;
    margin-top: 70px;
    margin-left: 2%;
}
*/
/*@media screen and (min-width: 501px) and (max-width:800px){
    
}
@media screen and (min-width: 801px) and (max-width:1024px){
    
}*/